@page "/"
@rendermode InteractiveServer
@inject Services.IExcelFileRunner ExcelFileRunner;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br>

<button class="btn btn-primary" @onclick="ReverseFile">Reverse File</button>

<br>

<button class="btn btn-primary" @onclick="RunFile">Run Process</button>

@code
{
    private async Task ReverseFile()
    {
        var result = await ExcelFileRunner.ReverseAndGenerate();
    }

    private async Task RunFile()
    {
        await ExcelFileRunner.Run();
    }
}