@page "/"
@rendermode InteractiveServer
@inject Services.IExcelFileRunner ExcelFileRunner;

<PageTitle>Home</PageTitle>

<h1>Account Processor</h1>

<p/>
<hr/>

<button class="btn btn-primary" @onclick="ReverseFile">Reverse File</button>
<p role="status"><strong>Result</strong>: @reverseFileResult</p>

<p/>

<hr/>

<p/>

<button class="btn btn-primary" @onclick="RunFile">Run Process</button>

@code
{
    private string? reverseFileResult;

    private async Task ReverseFile()
    {
        reverseFileResult = "Running...";
        reverseFileResult = await ExcelFileRunner.ReverseAndGenerate();
    }

    private async Task RunFile()
    {
        await ExcelFileRunner.Run();
    }
}