@page "/jsonEditor"
@rendermode InteractiveServer

<PageTitle>JsonEditor</PageTitle>

<h1>Json Editor</h1>

<p />
<hr />

<input style="margin-right: 5px" placeholder="Search..." @bind-value="@BindSearch" @bind-value:event="oninput" />

<p />
<pre style="font-family:'Cascadia Code'">@LoadedJson</pre>