@page "/jsonEditor"
@rendermode InteractiveServer

<PageTitle>Json Editor</PageTitle>

<h1>Json Editor</h1>

<p />
<hr />

<MudTextField T=@string @bind-Value=@BindSearch Immediate=true Placeholder="Search..." />

<p />
<pre style="font-family:'Cascadia Code'">@LoadedJson</pre>