@page "/modelEditor"
@using AccountProcessor.Components.Services
@rendermode InteractiveServer

<!-- Add icon library: https://fontawesome.com/v4/icons/ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<PageTitle>Model Editor</PageTitle>

<h1>Model Editor</h1>

<p />
<hr />

@if (Items.HasValue)
{
    <MudDataGrid Items=@Items.Value ReadOnly=true ColumnResizeMode=ResizeMode.Column SortMode=SortMode.Multiple Dense=true FixedHeader=true>
        <Columns>
            <HierarchyColumn T=ModelMatchItem />
            <PropertyColumn Property="x => x.HeaderName" Title="Header" />
            <PropertyColumn Property="x => x.SectionName" Title="Section" />
            <PropertyColumn Property="x => x.SectionMonthDisplay" Title="Month" />
            <PropertyColumn Property="x => x.Pattern"/>
            <PropertyColumn Property="x => x.OverrideDescription" Title="Description"/>
            <TemplateColumn Title="Once">
                <CellTemplate>
                    <MudCheckBox T=bool Value=@context.Item.MatchOnce ReadOnly=true /> 
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Clear">
                <CellTemplate>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => ClearMatch(context.Item))" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}